{% extends 'properties/base.html' %}

{% block content %}

<!-- Advanced Search Form -->
{% include 'properties/advanced-search-form.html' %}
<!-- END ADVANCED SEARCH FORM ---->


<!-- FORM FILLED IN - display message 'how many properties found' -->
{% if message %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endif %}
<!-- END MESSAGE ---->


<!-- FORM FILLED IN- display properties -->
{% if properties %}
  <div class="container pt-4">
    {% for property in properties %}
      {% include 'properties/display-properties.html' %}
    {% endfor %}
  </div>

{% else %}
<!-- FORM NOT FILLED IN - display 5 latest properties -->
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 p-3">
        <h2>Our Latest Properties</h2>
      </div>
    </div>
    {% for property in latest_properties %}
      {% include 'properties/display-properties.html' %}
    {% endfor %}
  </div>

{% endif %}
<!--- END DISPLAY PROPERTIES --->


{% endblock %}