{% extends 'properties/base.html' %}

{% block content %}

{% if coming_soon %}
  {% include 'properties/index-coming-soon' %}
{% else %}

<div class="container-fluid text-white bg-primary shadow">
    <div class="container text-center justify-content-center pt-5 pb-5">
        <h1>Advanced Search</h1>
        <p>Choose from the options below to find your perfect property!</p>
        <form action="{% url 'properties:advanced_property_search' %}" method="post">
        {% csrf_token %}
        {% for item in form %}
            <div class="form-group">
            {{ item.label }}
            {{ item }}
            </div>
        {% endfor %}
        <input class="text-center btn btn-success border-white" type="submit" value="Search properties!">
        </form>
    </div>
</div>


{% if message %}
    <div class="alert alert-primary" role="alert">
	    {{ message }}
	</div>
{% endif %}

{% if properties %}
    <div class="container pt-4">
    {% for property in properties %}
	    <div class="card mb-3 shadow-sm">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-2 bg-light" style="width:100%; height:200px">
                    Image
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="card-body">
                        <h3 class="card-title">
                        <a href="{% url 'properties:property_detail' property.id %}" >{{ property.property_name }}</a>
                        </h3>
                        <p class="card-text"><strong>CITY/ TOWN: {{ property.city }}</strong></p>
                        <p class="card-text">{{ property.description}}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bedrooms: {{ property.bedrooms }}</li>
                            <li class="list-group-item">Bathrooms: {{ property.bathrooms }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 bg-light">
                    <div class="card-body">
                        <h4 class="card-title text-muted">CONTACT</h4>
                        {% if property.agent_set.all %}
                            {% for agent in property.agent_set.all %}
                            <p class="card-title">NAME: {{ agent.agent_name }}</p>
                            <p class="card-text">EMAIL: {{ agent.email }}</p>
                            <p class="card-text">OFFICE: {{ agent.office}}</p>
                            <hr>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">EMAIL: info@mail.com</p>
                        {% endif %}
                        <hr>
                        <h5 class="card-text">PRICE: ${{ property.price }} pcm</h5>
                        <a href="{% url 'properties:property_detail' property.id %}">
                            <button class="btn btn-success border-white">See more!</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% endif %}

{% endblock %}
