{% extends 'properties/base.html' %}

{% block content %}

<!-- Advanced Search Form -->
{% include 'properties/advanced-search-form.html' %}
<!-- END ADVANCED SEARCH FORM ---->


<!-- FORM FILLED IN - display message 'how many properties found' -->
{% if message %}
  <div class="alert alert-primary pt-4" role="alert">
    <p class="font-weight-bold">{{ message }}</p>
  </div>
{% endif %}
<!-- END MESSAGE ---->


<!-- FORM FILLED IN - display properties -->
{% if properties %}
  <div class="container pt-5">
    {% for property in properties %}
      {% include 'properties/display-properties.html' %}
    {% endfor %}
  </div>

{% else %}
<!-- FORM NOT FILLED IN OR 0 RESULTS - display 5 latest properties -->
  <div class="container pt-5">
    {% for property in latest_properties %}
      {% include 'properties/display-properties.html' %}
    {% endfor %}
  </div>

{% endif %}
<!--- END DISPLAY PROPERTIES --->


{% endblock %}