{% load static %}
<div class="card mb-5 shadow-sm">
  <div class="row no-gutters">
    <div class="col-md-4 col-lg-2">
      {% if property.property_image %}
      <img class="img-fluid" src="{{ property.property_image.url }}">
      {% endif %}
    </div>
    <div class="col-md-8 col-lg-6 p-2">
      <div class="card-body">
        <div class="pb-4">
          <h5 class="card-title font-weight-bold">
            <a href="{% url 'properties:property_detail' property.slug %}" >{{ property.property_name }}</a>
          </h5>
        </div>
        <p class="card-text text-muted"><strong>CITY/ TOWN: {{ property.city }}</strong></p>
        <p class="card-text">{{ property.description}}</p>
        <ul class="list-group list-group-flush pt-2">
          <li class="list-group-item">Bedrooms: {{ property.bedrooms }}</li>
          <li class="list-group-item">Bathrooms: {{ property.bathrooms }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 p-2 bg-light">
      <div class="card-body">
        <p class="card-title text-muted font-weight-bold pb-2">CONTACT</p>
        {% if property.agent_set.all %}
          {% for agent in property.agent_set.all %}
          <p class="text-muted font-weight-bold"><small>NAME: {{ agent.agent_name }}</small></p>
          <p class="text-muted"><small>EMAIL: {{ agent.email }}</small></p>
          <p class="text-muted"><small>OFFICE: {{ agent.office}}</small></p>
          <hr>
          {% endfor %}
        {% else %}
          <p class="text-muted font-weight-bold"><small>EMAIL: info@mail.com</small></p>
        {% endif %}
        <h5 class="text-muted font-weight-bold pt-4">${{ property.price }} pcm</h5>
        <a href="{% url 'properties:property_detail' property.slug %}">
          <button class="btn btn-success border-white font-weight-bold mt-3">Learn more!</button>
        </a>
      </div>
    </div>
  </div>
</div>