{% load static %}
<div class="card mb-5 shadow-sm">
  <div class="row no-gutters">
    <div class="col-md-4 col-lg-2">
      {% if property.property_image %}
      <img class="img-fluid" src="{{ property.property_image.url }}">
      {% endif %}
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="card-body">
        <h3 class="card-title">
        <a href="{% url 'properties:property_detail' property.slug %}" >{{ property.property_name }}</a>
        </h3>
        <p class="card-text"><strong>CITY/ TOWN: {{ property.city }}</strong></p>
        <p class="card-text">{{ property.description}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Bedrooms: {{ property.bedrooms }}</li>
          <li class="list-group-item">Bathrooms: {{ property.bathrooms }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 bg-light">
      <div class="card-body">
        <h4 class="card-title text-muted">CONTACT</h4>
        {% if property.agent_set.all %}
          {% for agent in property.agent_set.all %}
          <p class="card-title">NAME: {{ agent.agent_name }}</p>
          <p class="card-text">EMAIL: {{ agent.email }}</p>
          <p class="card-text">OFFICE: {{ agent.office}}</p>
          <hr>
          {% endfor %}
        {% else %}
          <p class="card-text">EMAIL: info@mail.com</p>
        {% endif %}
        <h5 class="card-text">PRICE: ${{ property.price }} pcm</h5>
        <a href="{% url 'properties:property_detail' property.slug %}">
          <button class="btn btn-success border-white">See more!</button>
        </a>
      </div>
    </div>
  </div>
</div>