{% extends 'properties/base.html' %}

{% block content %}

<div class="container-fluid text-white bg-primary shadow">
    <div class="container text-center justify-content-center pt-5 pb-5">
        <h1>Quick search!</h1>
        <p>Choose a town or city to start your search!</p>
        <form action="{% url 'properties:quick_property_search' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="text-center btn btn-success border-white" type="submit" value="Search properties!">
        </form>
    </div>
</div>

<div class="container pt-5 pb-5 text-center">
    <h1 class="text-muted display">Try our advanced search!</h1>
    <p class="text-muted">Filter our properties based on location, number of bedrooms and
    minimum price</p>
    <a href="{% url 'properties:advanced_property_search' %}"><button class="btn btn-primary">Search!</button></a>

    <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
      <div class="mh-100" style="width: 100px; height: 200px; background-color: rgba(0,0,255,0.1);">Max-height 100%</div>
    </div>
</div>

<div class="container pt-3">
    <h1 class="text-muted">Newest properties</h1>

    {% for p in properties %}
        <div class="card mb-3">
            <div class="card-img-top bg-light" style="width:200px; height:200px;">
                <p>Testing</p>
            </div>
            <h1>I am a card</h1>
        </div>
    {% endfor %}

    {% for p in properties %}
        <div style="border:2px solid lightgrey; margin:14px;">
        	<div style="padding:12px;">
    	        <h2>{{ p.property_name }}</h2>
    	        <h3>Bedrooms: {{ p.bedrooms }}</h3>
    	        <h3>Bathrooms: {{ p.bathrooms }}</h3>
    	        <h3>Description:</h3>
    	        <p>{{ p.description }}</p>
    	        <p><strong>CITY/ TOWN: </strong>{{ p.city }}</p>
    	        <p><strong>PRICE: </strong>${{ p.price }} pcm</p>
    	        <a href="{% url 'properties:property_display' p.id %}">
                    <button>View this property!</button>
                </a>
            </div>
            <div style="background-color:lightgrey; padding:12px;">
                <h3>Contact:</h3>
                {% for agent in p.agent_set.all %}
                    <p>NAME: {{ agent.agent_name }}</p>
                    <p>EMAIL: {{ agent.email }}</p>
                    <p>OFFICE: {{ agent.office }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
















