{% extends 'properties/base.html' %}

{% block content %}

<!--  QUICK SEARCH FORM --->
{% include 'properties/quick-search-form.html' %}
<!--- END QUICK SEARCH FORM --->


<!-- 5 LATEST PROPERTIES --->

<div class="container pt-4">
	<div class="row">
    <div class="col-12 p-3">
      <h2>Our Latest Properties</h2>
    </div>
	</div>
	{% for property in latest_properties %}
	  {% include 'properties/display-properties.html' %}
	{% endfor %}
</div>
<!--- END 5 LATEST PROPERTIES --->


{% endblock %}