{% extends 'properties/base.html' %}

{% block content %}

<div class="container-fluid text-white bg-info shadow">
  <div class="container pt-5 pb-5">
    <h2 class="font-weight-bold">{{ property.property_name }}</h2>
  </div>
</div>

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-4 mb-2">
      <p><small>ADDED ON: {{ property.pub_date }}</small></p>
      <div class="bg-light">
        {% if property.property_image %}
        <img class="img-fluid" src="{{ property.property_image.url }}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <h4>LOCATION: {{ property.city }}</h4>
      <hr class="pb-4">
      <p class="font-weight-bold">BEDROOMS: {{ property.bedrooms }}</p>
      <p class="font-weight-bold">BATHROOMS: {{ property.bathrooms }}</p>
      <p class="font-weight-bold pt-4">DESCRIPTION:</p>
      <p>{{ property.description }}</p>
      <h3 class="pt-4 font-weight-bold">${{ property.price }} pcm</h3>
    </div>
  </div>
</div>

<div class="container text-center py-5 mb-3 bg-light">
  <h3 class="text-muted font-weight-bold pb-3">Arrange a viewing!</h3>
  {% if property.agent_set.all %}
    {% for agent in property.agent_set.all %}
      <p class="text-muted font-weight-bold">AGENT NAME: {{ agent.agent_name }}</p>
      <p class="text-muted font-weight-bold">OFFICE LOCATION: {{ agent.office }}</p>
      <p class="text-muted font-weight-bold">EMAIL: {{ agent.email }}</p>
      <hr>
    {% endfor %}
  {% else %}
    <p class="text-muted font-weight-bold">EMAIL: info@mail.com</h3>
    <hr>
  {% endif %}
</div>

{% endblock %}