<div class="container-fluid text-white bg-info shadow">
  <div class="container text-center justify-content-center pt-5 pb-5">
    <h2 class="font-weight-bold">Quick search!</h1>
    <h5 class="pt-4 pb-3 font-weight-bold">Choose a town or city to start your search!</h5>
      <form action="{% url 'properties:quick_property_search' %}" method="post">
    	{% csrf_token %}
    	  {{ form }}
    	<input class="text-center btn btn-success border-white font-weight-bold" type="submit" value="Search properties!">
      </form>
  </div>
</div>