{% extends 'properties/base.html' %}

{% block content %}

<!-- Quick search form -->
{% include 'properties/quick-search-form.html' %}
<!-- END QUICK SEARCH FORM ---->


<!-- DISPLAY LATEST PROPERTIES - BEFORE SEARCH IS FILLED IN -->
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 p-3">
        <h2>Our Latest Properties</h2>
      </div>
    </div>
    {% for property in latest_properties %}
      {% include 'properties/display-properties.html' %}
    {% endfor %}
  </div>


{% endblock %}
